.main-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    font-family: 'Raleway', sans-serif;
}

.p-404{
    font-size: 20rem;
    margin: 0;
}

.p-oups{
    font-size: 2rem;
    margin: 60px 0 180px;
}

.retour-accueil{
    text-decoration: underline;
    color: #FF6060;
    font-size: 18px;
    margin-bottom: 7rem;
}