.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.logo-img img{
    width: 30px;
    height: 30px;
}

.logo-h1{
    font-size: 44px;
    letter-spacing: 5px;
    color: #FF6060;
}

.logo-h1 span {
    margin-right: 5px;
}

.navigation {
    display: flex;
    align-items: center; 
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

.lien-navigation {
    text-decoration: none;
    color : #FF6060;
    font-weight: 500;
}

.active{
    text-decoration: underline;
}

.lien-navigation:first-child {
    margin-right: 50px;
}

.div-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/IMG.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 90%;
    margin: 0 auto 40px;
}

.h2-banner{
    opacity: 1;
    color: white;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
}